<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website/{{siteId}}/page" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Widgets</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}/website/{{siteId}}/page/{{pageId}}/widget/new" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <div *ngFor="let widget of widgets">
    <div class="evg-widget">
      <div class="evg-widget-toolbar">
        <a routerLink="/user/{{userId}}/website/{{siteId}}/page/{{pageId}}/widget/{{widget._id}}">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <a routerLink="/user/{{userId}}/website/{{siteId}}/page/{{pageId}}/widget/{{widget._id}}">
          <span class="evg-widget-menu glyphicon glyphicon-menu-hamburger"></span>
        </a>
      </div>

      <div [ngSwitch]="widget.type">

        <div *ngSwitchCase="'Header'">
          <h1>Generic Clickbait Website Headline</h1>
        </div>

        <div *ngSwitchCase="'YouTube'">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RY4rWrlY-qM" allowfullscreen></iframe>
          </div>
        </div>

        <div *ngSwitchCase="'Image'">
          <img class="evg-content" src="http://lorempixel.com/400/200"/>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <span class="glyphicon glyphicon-play"></span>
    </p>
    <p class="navbar-text pull-left">
      <span class="glyphicon glyphicon-eye-open"></span>
    </p>
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
