
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Profile</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <button (click)="update()"
              [disabled]="!f.valid"
              class="navbar-link icon-button">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </p>

  </div>
</nav>


<div class="container">

  <form #f="ngForm">

    <div class="form-group">
      <label for="username">Username</label>
      <input name="username"
             [(ngModel)]="username"
             type="text"
             class="form-control"
             id="username"
             placeholder="walice"
             readonly
             required
             (focus)="setUpdated(false)">
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input name="email"
             [(ngModel)]="email"
             #emailLocal="ngModel"
             type="email"
             class="form-control"
             id="email"
             [email]="email !== ''"
             placeholder="alice.wonderland@unicorn.com"
             (focus)="setUpdated(false)">
    </div>
    <span class="help-block alert-danger" *ngIf="!emailLocal.valid && emailLocal.touched">
      Please enter a valid email address
    </span>

    <div class="form-group">
      <label for="first-name">First Name</label>
      <input name="firstName"
             [(ngModel)]="firstName"
             type="text"
             class="form-control"
             id="first-name"
             placeholder="Alice"
             (focus)="setUpdated(false)">
    </div>

    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input name="lastName"
             [(ngModel)]="lastName"
             type="text"
             class="form-control"
             id="last-name"
             placeholder="Wonderland"
             (focus)="setUpdated(false)">
    </div>

    <button class="btn btn-primary btn-block"
            type="button"
            routerLink="/user/{{userId}}/website">Websites</button>

    <a class="btn btn-danger btn-block "
       (click)="logout()">Logout</a>
  </form>

  <div *ngIf="updated"
       class="alert alert-success">
    Update Saved
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/profile">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
