
<nav class="navbar navbar-default evg-website-nav navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Edit Website</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a (click)="update()" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid row">
  <div class="hidden-xs hidden-sm col-md-4">
    <ul class="list-group">

      <div *ngFor="let website of websites">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9">
              <a routerLink="/user/{{userId}}/website/{{website._id}}/page">
                {{website.name}}
              </a>
            </div>
            <div class="col-xs-3">
              <a class="pull-right" routerLink="/user/{{userId}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
            </div>
          </div>
        </li>
      </div>

    </ul>
  </div>

  <div class="col-md-8">
    <form #f="ngForm">

      <div class="form-group">
        <label for="name">Name</label>
        <input name="name"
               [(ngModel)]="name"
               id="name"
               placeholder="Name"
               type="text"
               class="form-control"/>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description"
                  [(ngModel)]="description"
                  id="description"
                  placeholder="Description"
                  rows="5"
                  class="form-control"></textarea>
      </div>

      <a class="btn btn-danger btn-block" (click)="delete()">Delete</a>
    </form>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default evg-website-nav navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}" class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
