
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website/{{siteId}}/page" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>New Page</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <button (click)="create()"
         [disabled]="!f.valid"
         class="navbar-link icon-button">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <form #f="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name"
             [ngClass]="{'is-invalid': nameLocal.errors}"
             id="name"
             placeholder="Page Name"
             type="text"
             required
             ngModel
             #nameLocal="ngModel"
             class="form-control"/>
    </div>
    <span class="help-block alert-danger" *ngIf="!nameLocal.valid && nameLocal.touched">
      Please enter a name
    </span>

    <div class="form-group">
      <label for="title">Title</label>
      <input name="title"
             id="title"
             placeholder="Page Title"
             type="text"
             required
             ngModel
             #titleLocal="ngModel"
             class="form-control"/>
    </div>
    <span class="help-block alert-danger" *ngIf="!titleLocal.valid && titleLocal.touched">
      Please enter a title
    </span>
  </form>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
