
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website/{{siteId}}/page/{{pageId}}" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Choose Widget</b>
      </a>
    </p>

  </div>
</nav>

<div>
  <ul class="list-group">
    <li class="list-group-item">
      <a (click)="newWidget('HEADING')">
        Header
      </a>
    </li>
    <li class="list-group-item">
      <a>
        Label
      </a>
    </li>
    <li class="list-group-item">
      <a>
        HTML
      </a>
    </li>
    <li class="list-group-item">
      <a>
        Text Input
      </a>
    </li>
    <li class="list-group-item">
      <a>
        Link
      </a>
    </li>
    <li class="list-group-item">
      <a>
        Button
      </a>
    </li>
    <li class="list-group-item">
      <a (click)="newWidget('IMAGE')">
        Image
      </a>
    </li><li class="list-group-item">
    <a (click)="newWidget('YOUTUBE')">
      Youtube
    </a>
    <li class="list-group-item">
      <a>
        Data Table
      </a>
    </li>
    <li class="list-group-item">
      <a>
        Repeater
      </a>
    </li>
  </ul>
</div>


<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
