<div class="container-fluid">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Register</h1>

  <form (ngSubmit) = "register()" #f="ngForm">

    <input placeholder="username"
           name="username"
           type="text"
           class="form-control"
           ngModel
           #username="ngModel"
           required
           autocomplete="off"
           autocapitalize="none"/>
    <span class="help-block alert-danger" *ngIf="!username.valid && username.touched">
      Please enter a username
    </span>

    <input placeholder="password"
           name="password"
           type="password"
           class="form-control"
           ngModel
           required
           #password="ngModel"/>
    <span class="help-block alert-danger" *ngIf="!password.valid && password.touched">
      Please enter a password
    </span>

    <input placeholder="verify password"
           name="verifyPassword"
           type="password"
           class="form-control"
           ngModel
           required
           #verifyPassword="ngModel"/>
    <span class="help-block alert-danger"
          *ngIf="(!verifyPassword.valid || password.value !== verifyPassword.value) && verifyPassword.touched">
      Please enter matching password
    </span>

    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid || password.value !== verifyPassword.value">Register</button>

    <button class="btn btn-danger btn-block"
            type="submit"
            [routerLink]="['/login']">Cancel</button>
  </form>

</div>
