
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website/{{siteId}}/page/{{pageId}}/widget" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Widget Edit</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <button (click)="update()"
         [disabled]="!f.valid"
         class="navbar-link icon-button">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </p>

  </div>
</nav>

<div class="container-fluid">
  <form #f="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name"
             [(ngModel)]="name"
             id="name"
             placeholder="Name"
             type="text"
             required
             #nameLocal="ngModel"
             class="form-control"/>
    </div>
    <span class="help-block alert-danger" *ngIf="!nameLocal.valid && nameLocal.touched">
      Please enter a name
    </span>

    <div class="form-group">
      <label for="text">Text</label>
      <input name="text"
             [(ngModel)]="text"
             id="text"
             placeholder="Text"
             type="text"
             required
             #textLocal="ngModel"
             class="form-control"/>
    </div>
    <span class="help-block alert-danger" *ngIf="!textLocal.valid && textLocal.touched">
      Please enter text
    </span>

    <div class="form-group">
      <label for="url">URL</label>
      <input name="url"
             [(ngModel)]="url"
             id="url"
             placeholder="URL"
             type="text"
             class="form-control"/>
    </div>

    <div class="form-group">
      <label for="width">Width</label>
      <input name="width"
             [(ngModel)]="width"
             id="width"
             placeholder="100%"
             type="text"
             class="form-control"/>
    </div>

    <div class="form-group">
      <label for="upload">Upload</label>
      <input name="upload"
             [(ngModel)]="upload"
             id="upload"
             type="file"
             class="form-control"/>
    </div>

    <button class="btn btn-primary btn-block"
            [disabled]="!f.valid"
            (click)="update()">Upload Image</button>
    <button class="btn btn-danger btn-block"
       (click)="delete()">Delete</button>
  </form>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
